{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block header %}
<h1>{{ lieu }}
    <sup>{% if perms.lieux.change_lieu %}<a href="{% url "admin:lieux_lieu_change" lieu.id %}">{% trans "Modifier" %}</a>{% endif %}
    </sup>
</h1>
{% endblock %}


{% block content %}

<div id="milieu">
<script type="text/javascript">

function map_init_basic (map, options) {
    // On récupère des variables en base
    var position = {{ lieu|geojsonfeature:":champGeo"|safe }};
    var zoom = {{ lieu.zoom|floatformat:0 }};

    // On préparer la carte avec le pointeur
    var layer = L.geoJson(position);
    layer.addTo(map); // La carte est créée

    // On récupère la position du pointeur
    var overlaysBounds=[]; // Sans oublier d'initialiser la variable
    overlaysBounds.push(layer.getBounds());

    // On centre la carte sur la position du pointeur
    map.fitBounds(overlaysBounds, {padding: [50, 50]});

    // On désactive le zoom avec la roulette de la souris
    //map.scrollWheelZoom.disable();

    // Et enfin, on zoom
    map.setZoom(zoom);

}

</script>

{% leaflet_map "map" callback="window.map_init_basic" %}


<div class="lieu">
    {{ lieu.adresse|safe }}
</div>
<hr class="separation">

</div>

<div id="inscrits">
</div>
{% endblock %}
