{% extends "base.html" %}
{% load i18n %}

{% block header %}
<h1>Statistiques</h1>

{% endblock %}

{% block nav %}
<nav id="menu">
    <ul>
        <li><a href="/">Accueil</a></li>
        {% for une_ville in liste_villes %}
        <li{% if une_ville.code = ville.code %} class="actif"{% endif %}>
            <a href='/{{ une_ville.code }}/stats'>{{ une_ville.nom }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}




{% block content %}

<div id="milieu">

{{ toto }}

</div>
{% endblock %}
