{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block header %}
<h1>{{ jour }}
    <sup>{% if perms.fj.change_ville %}<a href="{% url "admin:fj_ville_change" ville.id %}">Modifier</a>{% endif %}
	    {% if user.is_staff %}<a href="{% url 'fj:adl' ville.code  %}">Envoyer à l'AdL</a> {% endif %}
        <a href="{% url 'fj:ical' ville.code %}">Ajouter à mon agenda</a>
    </sup>
</h1>
{% endblock %}


{% block content %}

<div id="milieu">



{% if ok %} <p class="infos">{% trans "Votre inscription a été prise en compte !" %}<br>
{% trans "Adresse IP" %} : {{ adresse_ip }} {{ v6 }}<br>
<br> {% trans "Pour la supprimer" %} : <a href='{% url "fj:inscrit_delete" unique %}'>{% trans "cliquez-ici" %}</a></p>{% endif %}


<script type="text/javascript">

function map_init_basic (map, options) {
    // On récupère des variables en base
    var position = {{ ville.lieu|geojsonfeature:":champGeo"|safe }};
    var zoom = {{ ville.lieu.zoom|floatformat:0 }};

    // On préparer la carte avec le pointeur
    var layer = L.geoJson(position);
    layer.addTo(map); // La carte est créée

    // On récupère la position du pointeur
    var overlaysBounds=[]; // Sans oublier d'initialiser la variable
    overlaysBounds.push(layer.getBounds());

    // On centre la carte sur la position du pointeur
    map.fitBounds(overlaysBounds, {padding: [50, 50]});

    // On désactive le zoom avec la roulette de la souris
    //map.scrollWheelZoom.disable();

    // Et enfin, on zoom
    map.setZoom(zoom);

}

</script>

{% leaflet_map "map" callback="window.map_init_basic" %}


<p>{{ ville.message|safe }}</p>

<hr class="separation">

{% if ok != True %}
<form action="{{ ville.code }}" method="post">{% csrf_token %}
<fieldset>
    <legend>{% trans "Inscription" %}</legend>
    {% if form %}
    {% if TropTard == True %}<p class="infos">{% trans "Attention, la limite d'inscription est dépassée !" %}<p>{% endif %}
        {{ form.as_p }}
        <input type="submit" value="Envoyer" />
    {% else %}
        {% trans "Les inscriptions sont closes !" %}
    {% endif %}
</fieldset>
</form>
{% endif %}


</div>

<div id="inscrits">
{% trans "Inscrits" %} :
<hr />
<ul>

{% for inscrit in liste_inscrits %}

<li>[{{ inscrit.nb }}] {{inscrit.nom}} {{inscrit.prenom}} (<em>{{inscrit.asso|safe}}</em>) </li>

{% endfor %}
</ul>

<p><strong>
   {% blocktrans count counter=total %}
   {{ total }} inscrit.
   {% plural %}
   {{ total }} inscrits.
   {% endblocktrans %}
</strong></p>

</div>
{% endblock %}
