/*
 * 
 * Copyright (C) 2015  Nicolas Grandjean <nicolas@microniko.net>
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Firstjeudy : Feuille de styles en cascades
 */


body{
background-color: #e7e7e7;
text-align: justify;

}
 h1,h2,h4 {
text-align:center;
}

label {
display:block;
clear:right
}

div#sgeg, div#atelier {
margin-left:2%;
margin-right:2%;
border:dashed 1px black;
width:41%;
padding:1%;
margin-bottom:5%;
min-height: 200px;
background-color: #cfcfcf;
}

nav#menu, div#inscrits{
width:15%;
}

div#milieu{
width:60%;
padding:1em;
}

div#milieu h1 {
font-size:215%;
margin-top: 0;
}

div#sgeg,nav#menu,div#milieu {
float:left;
}


div#atelier, div#liste {
float:right;

}

header h1 sup {
    font-size:25%;
    font-family:sans-serif;
}

footer {
clear:both;
width:90%;
margin-left:auto;
margin-right:auto;
text-align:center;
min-height:0;
font-size:70%;
}

      .date { font-weight: bold }

nav#menu ul {
list-style-type:none;
padding:0;
}


nav#menu ul li{
padding:1em;
margin-left:0;
margin-bottom:2em;
border:dashed 1px black;
background-color:#cfcfcf;
text-align:center;
}

nav#menu ul li.actif {
background-color:black;
}
nav#menu ul li.actif a{
color:white;
}

 p.inscription {
text-align:center;
font-size:110%;
font-family:sans-serif;
}

div#map {
margin:0;
margin-left:1em;
margin-bottom:1em;
padding: 5px;
border: 0px solid black;
float:right;
width: 400px;
height: 350px
overflow: hidden;

}
hr.separation {
clear: both;
visibility: hidden;
}

fieldset legend {
font-weight: bold;
font-size:110%;
}

fieldset {
background-color: #cfcfcf;
margin-left:10%;
padding:2em;
margin-right:5%;
}


div#inscrits {
   text-align: left;
   float: left;
   width: 20%;
   }

div#inscrits ul {
   padding-left: 0;
   width: 100%;
   }

/*---- Seulement page d'accueil --*/
html.index      h1 { text-align: center }
html.index      div { float: left; width: 28%; margin: 1%; text-align: justify; padding:1%; }
html.index div.white { border: 1px dashed #cccccc }
html.index      div.grey  { border: 1px dashed #000000; color: #000000; background-color: #f0f0f0 }
html.index      div.wrapper { margin-bottom: 1em; width: 100%; margin: 0; padding: 0 }

html.index      br { clear: left; }
html.index      .date { font-weight: bold }



/*-Coupure des mots--*/
div#milieu p, div.wrapper p {
hyphens:auto;
-moz-hyphens:auto;
-webkit-hyphens:auto;

}

p.infos {
font-weight: bold;
margin-right: 10%;
margin-left: 10%;
padding: 5px;
text-align: center;
border: dashed 1px grey;
   }

p.erreur{
font-style: italic;
   }

ul.errorlist {
padding: 5px;
border: dashed 1px grey;
}
ul.errorlist li {
list-style-type: none;
color: red;
font-family: sans-serif;
}


