{% load i18n %}
{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html{% block classHTML %}{% endblock %}>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'styles.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
{% leaflet_js %}
{% leaflet_css %}
<title>{% block title %}Bienvenue sur Firstjeudi !{% endblock %}</title>
</head>
<body id="corps">

<header>
    {% block header %} En-tête ... {% endblock %}
</header>

{% block nav %}
<nav id="menu">
    <ul>
        <li><a href="/">{% trans "Accueil" %}</a></li>
        {% for une_ville in liste_villes %}
        <li{% if une_ville.code == ville.code %} class="actif"{% endif %}>
            <a href='{% url "fj:voir_ville" une_ville.code %}'> {{ une_ville.nom }}</a>
        </li>
        {% endfor %}
        {% for une_rencontre in liste_rencontres %}
        <li{% if une_rencontre.code == rencontre.code %} class="actif"{% endif %}>
            <a href='{% url "ponctu:voir_rencontre" une_rencontre.code %}'> {{ une_rencontre.nom }}</a>
        </li>
        {% endfor %}
   </ul>
</nav>
{% endblock %}


<section id="content">
{% block content %}{% endblock %}

</section>



<footer>
    <p>
        {% blocktrans %}
            <em>Firstjeudi</em> est hébergé sur les serveurs de <a
            href="http://www.microniko.net">Microniko.net</a> avec <a href="http://www.debian.org/">Debian GNU/Linux</a>.
            Fonctionne avec Python et une base SQLite <a href="https://git.framasoft.org/microniko/firstjeudy/">Sources sur FramaGit</a>
        {% endblocktrans %}
    </p>
{% now "DATETIME_FORMAT" %}
</footer>




</body>
</html>
