{% extends "base.html" %}
{% load i18n %}

{% block classHTML %} class="index"{% endblock %}
{% block header %}
<h1>Rencontres du Logiciel Libre</h1>
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}

<div class="wrapper">
    {% for ville in liste_villes %}
    <div class="grey">

        <h2>{{ ville.nom }} </h2>
        <p>{{ ville.description|safe}}</p>
	
	<p class="date">{{ ville.numweek }}<sup>e</sup>
		{% if   ville.numday == 0 %} dimanche
		{% elif ville.numday == 1 %} lundi
		{% elif ville.numday == 2 %} mardi
		{% elif ville.numday == 3 %} mercredi
		{% elif ville.numday == 4 %} jeudi
		{% elif ville.numday == 5 %} vendredi
		{% elif ville.numday == 6 %} samedi
		{% endif %} du mois</p>
       <p class="inscription"><a href='{% url "voir_ville" ville.code %}'>{% trans "Inscription" %}</a></p>
    </div>
    {% empty %}
       <p>{% trans "Il n'y a rien pour l'instant !" %}</p>
    {% endfor %}
    {% for rencontre in liste_rencontres %}
    <div class="grey">
       <h2>{{ rencontre.nom }} </h2>
       <p> {{ rencontre.description|safe}}</p>
       <p class="date">{{ rencontre.date|date:"l d F Y"|capfirst }}</p>
       <p class="inscription"><a href='{% url 'voir_rencontre' rencontre.code %}'>{% trans "Inscription" %}</a></p>
    </div>
    {% endfor %}
</div>


<footer>
<h4>{% trans "Vous aussi" %}</h4>
<p>{% trans "N'hésitez-pas à nous contactez si vous souhaitez qu'une de vos rencontres régulières apparaisse ici !" %}</p>
     <h4>{% trans "Cr&eacute;dits" %}</h4>
        <p>{% trans "Ce script sous GPL est la version Django/Python de Firstjeudi initialement en PHP (sous licence GPL initi&eacute; par&nbsp;: Fabien Seisen en 2001, Rodolphe Qui&eacute;deville en 2002 puis adapt&eacute; en 2011 et 2012 par Nicolas Grandjean)." %}</p>
         <p>{% trans " Si vous avez des questions ... mailto:contact &Agrave; rhizomes.org" %}</p>

<p>
   {% trans "Conforme aux recommendations" %}<a href="http://validator.w3.org/check?uri=referer">
        HTML 5</a> et <a href="http://jigsaw.w3.org/css-validator/check/referer">
        CSS 2</a>.
   </p>

</footer>

{% endblock %}
