{% extends "base.html" %}
{% load i18n %}

{% block header %}
<h1>{{ rencontre.date|date:"l j F Y"|capfirst }}
    <sup>{% if perms.ponctu.change_rencontre %}<a href="{% url "admin:ponctu_rencontre_change" rencontre.id %}">{% trans "Modifier" %}</a>{% endif %}
        {% if user.is_staff %}<a href="{% url 'ponctu:voir_rencontre' rencontre.code  %}">{% trans "Retour" %}</a> {% endif %}
    </sup>
</h1>
{% endblock %}


{% block content %}

<div id="milieu">



<hr class="separation">

{% if resultatMastodon %}
<p class="infos">{{ resultatMastodon }}
</p>
{% endif %}
{% if resultat %}
<p class="infos">{{ resultat }}
</p>
{% else %}
<form action="" method="post">
{% csrf_token %}
<fieldset>
    <legend>
    {% trans "Soumission à l'Agenda du Libre" %}
    </legend>
    <p>
        {% trans "Le XML ci-dessous sera soumis à l'Agenda du Libre, vous pouvez le modifier si besoin." %}
    </p>
    {% if form %}
    <textarea rows="32" cols="82" id="xml" name="xml">{% include 'adl2.xml' %}</textarea>
        {{ form.as_p }}
        <input type="submit" value="{% trans "Envoyer" %}" />
    {% endif %}
</fieldset>
</form>
{% endif %}


</div>

{% endblock %}
