{% extends "base.html" %}
{% load i18n %}

{% block header %}
<h1>{{ rencontre.date|date:"l d F Y"|capfirst }}</h1> 

{% endblock %}


{% block content %}

<div id="milieu">


<p class="infos">{% trans "Confirmez-vous la suppression de votre inscription ?" %}</p>

<form method="post" action="">
    {% csrf_token %}
    <input type="submit" value"{% trans "Oui, je ne viens pas" %}" />
    - <a href="{% url "index" %}">{% trans "Si, si je viens !" %}</a>
</form>




</div>


{% endblock %}
