{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block header %}
<h1>{{ rencontre.date|date:"l j F Y"|capfirst }}
   <sup>{% if perms.ponctu.change_rencontre %}<a href="{% url "admin:ponctu_rencontre_change" rencontre.id %}">Modifier</a>{% endif %}</sup>
</h1> 
{% endblock %}


{% block content %}

<div id="milieu">



{% if ok %} <p class="infos">{% trans "Votre inscription a été prise en compte !" %}<br>
{% trans "Adresse IP" %} : {{ adresse_ip }} {{ v6 }}<br>
<br> {% trans "Pour la supprimer" %} : <a href='{% url "inscrit_delete_ponctu" unique %}'>{% trans "cliquez-ici" %}</a></p>{% endif %}


<script type="text/javascript">

function map_init_basic (map, options) {
    // On récupère des variables en base
    var position = {{ rencontre|geojsonfeature:":champGeo"|safe }};
    var zoom = {{ rencontre.zoom|floatformat:0 }};

    // On préparer la carte avec le pointeur
    var layer = L.geoJson(position);
    layer.addTo(map); // La carte est créée

    // On récupère la position du pointeur
    var overlaysBounds=[]; // Sans oublier d'initialiser la variable
    overlaysBounds.push(layer.getBounds());

    // On centre la carte sur la position du pointeur
    map.fitBounds(overlaysBounds, {padding: [50, 50]});

    // Et enfin, on zoom
    map.setZoom(zoom);

}

</script>

{% leaflet_map "map" callback="window.map_init_basic" %}



<p>{{ rencontre.message|safe }}</p>
<hr class="separation">

{% if ok != True %}
<form action="{{ rencontre.code }}" method="post">{% csrf_token %}
<fieldset>
    <legend>{% trans "Inscription" %}</legend>
    {{ form.as_p }}
    <input type="submit" value="Envoyer" />
</fieldset>
</form>
{% endif %}


</div>

<div id="inscrits">
{% trans "Inscrits" %} :
<hr />
<ul>

{% for inscrit in liste_inscrits %}

<li>[{{ inscrit.nb }}] {{inscrit.nom}} {{inscrit.prenom}} (<em>{{inscrit.asso}}</em>) </li>

{% endfor %}
</ul>

<p><strong>
   {% blocktrans count counter=total %}
   {{ total }} inscrit.
   {% plural %}
   {{ total }} inscrits.
   {% endblocktrans %}
</strong></p>

</div>
{% endblock %}
